In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from prophet import Prophet

In [4]:
df = pd.read_csv('final data.csv')

In [5]:
df

,time,temperature_2m (°C),apparent_temperature (°C),surface_pressure (hPa),precipitation (mm),rain (mm),cloudcover (%),windspeed_10m (km/h),winddirection_10m (°),city
0,2013-01-01T00:00,22.9,18.8,955.7,0.0,0.0,0.0,15.0,27.0,Abuja
1,2013-01-01T01:00,22.3,18.3,955.4,0.0,0.0,0.0,14.3,28.0,Abuja
2,2013-01-01T02:00,21.8,17.8,954.8,0.0,0.0,0.0,13.7,30.0,Abuja
3,2013-01-01T03:00,21.4,17.5,954.4,0.0,0.0,0.0,13.3,33.0,Abuja
4,2013-01-01T04:00,21.0,17.0,954.0,0.0,0.0,0.0,13.2,35.0,Abuja
...,...,...,...,...,...,...,...,...,...,...
364127,2023-05-21T20:00,27.5,31.5,1009.6,0.0,0.0,47.0,16.4,213.0,Lagos
364128,2023-05-21T21:00,27.4,31.5,1010.5,0.0,0.0,47.0,15.1,220.0,Lagos
364129,2023-05-21T22:00,27.2,31.7,1011.3,0.0,0.0,51.0,13.2,227.0,Lagos
364130,2023-05-21T23:00,27.1,32.4,1012.1,0.0,0.0,49.0,7.4,223.0,Lagos
364131,2023-05-22T00:00,27.0,32.0,1011.8,0.1,0.1,49.0,9.1,198.0,Lagos

In [8]:
df['time'] = pd.to_datetime(df['time'], format='%Y-%m-%d')

In [9]:
df.set_index(df['time'], inplace=True)

In [11]:
df = df.resample('M').mean()

In [12]:
#decompose data using aadditive model with 1 period or frequency
from statsmodels.tsa.seasonal import seasonal_decompose
dec = seasonal_decompose(df['temperature_2m (°C)'], period=1, model='additive')
trend = dec.trend
season = dec.seasonal
residual = dec.resid

plt.figure(figsize=(16,7))
plt.subplot(411)
plt.plot(df['temperature_2m (°C)'], label='original')
plt.legend(loc='best')

plt.subplot(412)
plt.plot(trend, label='trend')
plt.legend(loc='best')

plt.subplot(413)
plt.plot(season, label='seasonal')
plt.legend(loc='best')

plt.subplot(414)
plt.plot(residual, label='residual')
plt.legend(loc='best')

NameError: name 'plt' is not defined